.container {
  font-size: 1rem;
  color: var(--background-light);
  background-color: var(--simple-button);
  padding: .25rem .5rem;
  border-radius: .25rem;

  display: flex;
  align-items: center;

  &:hover {
    filter: brightness(.9);
  }
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-dark-transparent);
}